/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --purple: #2a133a;
  --light-purple: #87709c;
  --orange: #d57250;
  --snow: #f9f9f9;
  --black: #101010;
}
body {
  font-family: "Cardo", serif;
}

/* Navbar */
.navbar{
  background-color: var(--purple);
}

.btn{
  background-color: var(--orange);
  width: 140px;
  border: none;

}
.btn:hover{
  background-color: var(--light-purple);
}
/* Hero */

.hero{
  padding: 15rem 0;
  background-image: url('assets/Background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 70vh;

}
.hero h1{
  color: var(--snow);
  font-weight: bolder;
  font-size: 10rem;
}
.hero p{
  color: var(--snow);
  font-size: 1.5rem;
}

/* Cards */
#title{
  font-size: 4rem;
}

.link{
  color: var(--orange);
}
.link:hover{
  color: var(--light-purple);
}

.blog{
  padding: 15rem 0;
  background-image: url('assets/Blog.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 20vh;

}
.blog h1{
  color: var(--snow);
  font-weight: bolder;
  font-size: 3rem;

}
.blog p{
  color: var(--snow);
  font-size: 1.5rem;

}
#imp{
  height: 10vh;
  background-color: var(--light-purple);
  color: var(--snow);
}
#userComments{
  background-color: rgb(235, 235, 235);
}
#nameField{
  font-size: 1rem;
  font-weight: bold;
}

/* Footer */
footer {
  background-color: var(--snow);
  color: var(--purple);
  
}


